:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Pale-blue);
  position: relative;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  color: currentColor;
}
.attribution a:hover {
  border-bottom: 1px solid currentColor;
}
.bg-img {
  display: block;
  width: 100%;
}

.mobile-bg-img {
  display: none;
}

.flex-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.637);
}

.img-box {
  width: 100%;
}
.hero-img {
  width: 100%;
}

.text-box {
  margin: 2rem;
  text-align: center;
}
.text-box > *:not(:last-child) {
  margin-bottom: 2rem;
}

.header {
  color: var(--Dark-blue);
  font-size: 2.4rem;
  font-weight: 900;
  margin-top: 1rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
}
.plan-box {
  display: flex;
  align-items: center;
  background-color: var(--Very-pale-blue);
  padding: 1.8rem;
  margin: 2.4rem 2.4rem;
  border-radius: 10px;
}

.plan-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  margin-left: 2.4rem;
}

.plan {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--Dark-blue);
}
.price {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
}
.chainge {
  margin-left: auto;
  font-size: 1.4rem;
  padding: 1rem;
}
.chainge a {
  color: var(--Bright-blue);
}

.chainge a:hover {
  color: rgba(56, 41, 224, 0.753);
  text-decoration: none;
  font-weight: 900;
}

.btn-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}
.payment {
  font-family: inherit;
  background: none;
  border: none;
  background-color: var(--Bright-blue);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1em 1.6em;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem #e0e8ff;
  cursor: pointer;
}
.payment:hover {
  background-color: rgba(56, 41, 224, 0.753);
}

.cancel {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: inherit;
  background: none;
  padding: 1em 1.6em;
  border-radius: 10px;
  border: none;
  color: var(--Desaturated-blue);
  cursor: pointer;
}
.cancel:hover {
  color: var(--Dark-blue);
  font-weight: 900;
}

@media (max-width: 97.5em) {
  .flex-box {
    width: 30%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .flex-box {
    width: 35%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .flex-box {
    width: 40%;
    transform: translateY(-30%);
  }
}

@media (max-width: 47.5em) {
  html {
    font-size: 43.75%;
  }
  .flex-box {
    width: 50%;
  }
}

@media (max-width: 33.25em) {
  html {
    font-size: 42.75%;
  }
  .flex-box {
    width: 60%;
    transform: translateY(-10%);
  }
}

/* mobile version */
@media (max-width: 27.625em) {
  html {
    font-size: 56.25%;
  }
  .flex-box {
    width: 90%;
    transform: translateY(-30%);
  }
  .bg-img {
    display: none;
  }

  .mobile-bg-img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 23.5em) {
  html {
    font-size: 50%;
  }
  .flex-box {
    width: 90%;
    transform: translateY(-20%);
  }
}

@media (max-width: 21em) {
  html {
    font-size: 43.75%;
  }
  .flex-box {
    width: 90%;
  }
}
